{% extends 'base.html' %}
{% block content %}
<h2>Recent Hosts</h2>
<table>
<tr><th>Hostname</th><th>Status</th><th>Message</th></tr>
{% for h in hosts %}
<tr><td>{{ h.hostname }}</td><td>{{ h.last_status }}</td><td>{{ h.last_message }}</td></tr>
{% endfor %}
</table>

<h2>Schedules</h2>
<table>
<tr><th>Name</th><th>Trigger</th><th>Firmware</th><th>Enabled</th></tr>
{% for s in schedules %}
<tr><td>{{ s.name }}</td><td>{{ s.cron or s.interval_minutes ~ 'min' }}</td><td>{{ s.firmware_path }}</td><td>{{ s.enabled }}</td></tr>
{% endfor %}
</table>
{% endblock %}
